@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.info_card {
  display: flex;
  flex-direction: column;

  width: 18rem;

  margin: 0 auto;
  padding: 2rem;

  background-color: color.$black-700;
  border-radius: 2rem;
  overflow: hidden;
}

.info_card:hover {
  background-color: color.$black-800;
  box-shadow: 2px 2px 15px 2px rgba(color.$purple-900, 0.4);
  transform: scale( 1.01);
}

.profile_info {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  width: 100%;

  margin: 0 auto;
  margin-bottom: 2rem;

  > img {
    width: 3.75rem;
    height: 3.75rem;

    border-radius: 50%;
    object-fit: cover;
  }

  div {
    display: flex;
    flex-direction: column;

    margin: auto 0;

    h2 {
      color: color.$purple-50;
      font-weight: 700;
      font-size: 1.25rem;

      max-width: 9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h3 {
      color: color.$purple-300;
      font-weight: 200;
      font-size: 1rem;
    }
  }
}

.info_list {
  display: flex;
  flex-direction: column;

  margin: 0 auto;

  h3 {
    color: color.$purple-50;
    font-weight: 100;
    font-size: 1rem;
  }

  h3:hover {
    color: color.$purple-200;
  }

  button {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    margin-bottom: 1rem;
  }
}

.icons {
  width: 1.75rem;
  height: 1.75rem;

  color: color.$purple-400;
}
