@use '../../styles/breakpoints.scss' as *;
@use '../../styles/colors.scss' as color;

.main_grid {
  display: flex;
  flex-direction: column;

  margin: auto;

  width: 20rem;

  overflow: hidden;

  gap: 1rem;

  margin-bottom: 2rem;

  > h2 {
    margin-bottom: 1rem;

    color: color.$purple-50;
  }
}

.small_image {
  width: 100%;
  height: 10rem;

  object-fit: cover;
}
