@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.contributors {
  padding: 2rem;
  overflow: hidden;
  margin: 0 auto;

  max-width: 22rem;

  @include sm {
    max-width: 42rem;
  }

  @include xl {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  100%;
  }

}

.swiper {
  overflow: visible;
  cursor: pointer;
  max-width: 38rem;

  @include sm {
    max-width: 800%;
  }

  @include xl {
    max-width: 1400px;
  }


}

.swiper-slide {
  width: fit-content;
}

.swiper-wrapper {
  width: auto;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -25px;
}

.swiper-pagination-bullet {
  background: color.$purple-700;
}

.swiper-pagination-bullet-active {
  background: color.$purple-400;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1.5rem;
}

