@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.collaborators {
  text-align: center;
  flex-direction: column;

  width: 100%;

  padding: 4rem 3rem;
  margin: 0 auto;

  > h2 {
    font-size: 2rem;
    color: color.$purple-400;
    margin-bottom: 2rem;
  }
}

.cards_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.swiper-pagination > .swiper-pagination-bullet {
  background-color: color.$purple-500;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 1.5rem;
  background-color: color.$purple-500;
}

.swiper {
  max-width: 48rem;
}
.swiper-slide {
  text-align: center;

  padding: 1rem;

  max-width: fit-content;
}

@include sm {
  .collaborators {
    padding: 6rem 3rem;
  }
}
