$yellow-50: #fbfee8;
$yellow-100: #f7ffc2;
$yellow-200: #f2ff87;
$yellow-300: #f2ff43;
$yellow-400: #fbff12;
$yellow-500: #efe903;
$yellow-600: #ceb900;
$yellow-700: #a48604;
$yellow-800: #88680b;
$yellow-900: #735510;

$purple-50: #f5f0ff;
$purple-100: #ede4ff;
$purple-200: #ddcdff;
$purple-300: #c5a5ff;
$purple-400: #ab72ff;
$purple-500: #943aff;
$purple-600: #8c12ff;
$purple-700: #8001ff;
$purple-800: #6600cc;
$purple-900: #5902b0;

$black-50: #c9c9c9;
$black-100: #bababa;
$black-200: #9e9e9e;
$black-300: #7a7a7a;
$black-400: #595959;
$black-500: #3d3d3d;
$black-600: #292929;
$black-700: #1a1a1a;
$black-800: #0f0f0f;
$black-900: #000000;
