@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.home_container {
}


.home_header {
  position: relative;
  height: 24rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
  text-align: center;

  > h1 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: color.$purple-400;
  }

  > strong {
    font-size: 1.75rem;
    line-height: 120%;
    color: color.$purple-50;
  }

  .see_more {
    position: absolute;
    bottom: -0.25rem;

    color: color.$purple-400;
    width: 2rem;
    height: 2rem;

    animation: bounce 1s infinite;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @include sm {
    > h1 {
      font-size: 2.25rem;
    }

    > strong {
      font-size: 2.5rem;
    }

    .see_more {
      bottom: -2rem;
      width: 3rem;
      height: 3rem;
    }
  }
}

.home_header::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 100%;
  height: 100%;

  background: url(../../assets/images/background.jpg);
  background-size: cover;
  background-position: 50% 80%;

  filter: grayscale(0.2) opacity(0.05);
}

.home_project {
  display: flex;
  flex-direction: column;
  max-width: 24rem;

  margin: 0 auto;
  padding: 2rem;

  button {
    > a {
      color: color.$purple-400;

      &:hover {
        color: color.$purple-50;
      }
    }
    padding: 0.5rem;
  }

  > img {
    object-fit: cover;
    max-height: 14rem;

    margin-bottom: 2rem;
    border-radius: 0.5rem;

    transition: all 0.3s ease-in-out;
    filter: brightness(0.8) grayscale(1);

    &:hover {
      filter: brightness(1) grayscale(0);
      box-shadow: 0px 0px 48px rgba(color.$purple-500, 0.1);
    }
  }

  .about_project {
    text-align: center;
    width: 100%;

    .about_section {
      margin-bottom: 1.5rem;

      h2 {
        margin-bottom: 1rem;
        font-size: 1.375rem;
        color: color.$purple-400;
      }

      p {
        line-height: 120%;
        color: color.$purple-50;
        margin-bottom: 2rem;
      }
    }
  }

  @include sm {
    flex-direction: row;
    gap: 2rem;
    padding: 4rem 3rem;
    max-width: 100%;

    > img {
      width: 50%;
      max-height: 100%;
      margin-bottom: 0;
    }

    .about_project {
      text-align: left;
    }
  }

  @include md {
    gap: 2rem;
    padding: 6rem 3rem;
    margin: 0 auto;
    max-width: 72rem;

    > img {
      width: 40%;
      height: 24rem;
      margin-bottom: 0;
    }

    .about_project {
      .about_section {
        h2 {
          font-size: 1.75rem;
        }

        p {
          font-size: 1.25rem;
        }
      }
    }
  }

  @include xl {
    > img {
      width: 30%;
      margin-bottom: 0;
    }
  }
  @include x2l {
    > img {
      width: 40%;

      margin-bottom: 0;
    }
  }
}
