@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.home_container {
}

.home_header {
  position: relative;
  height: 24rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 1.5rem;
  text-align: center;

  > h1 {
    margin-bottom: 0.75rem;
    font-weight: 900;
    color: color.$purple-400;
  }

  > small {
    font-size: 0.9rem;
    line-height: 120%;
    color: color.$purple-50;
  }

  .see_more {
    position: absolute;
    bottom: -2rem;

    color: color.$purple-400;
    width: 2rem;
    height: 2rem;

    animation: bounce 1s infinite;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  @include sm {
    > h1 {
      font-size: 2.5rem;
    }

    > small {
      font-size: 1.125rem;
    }

    .see_more {
      width: 3rem;
      height: 3rem;
    }
  }
}

.home_header::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 100%;
  height: 100%;

  background: url(../../assets/images/background.jpg);
  background-size: cover;
  background-position: 50% 80%;

  filter: grayscale(0.2) opacity(0.05);
}

.home_project {
}
