@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.about_container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  border-radius: 4px;
}

.about_box {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  padding: 1rem;

  img {
    padding: 0.5rem;
    border-radius: 5%;
  }

  .text_box {
    display: flex;
    flex-direction: column;

    text-align: left;


    padding: 1rem;

    h1 {

      color: color.$purple-400;
      margin-bottom: 0.5rem;
    }

    p {
      color: color.$purple-50;
      margin-bottom: 0.5rem;
      line-height: 120%;
      font-weight: 500;
    }
  }

  @include sm {
    max-width: 30rem;

    .text_box {
      text-align: center;
    }
  }

  @include md {
    max-width: 30rem;
  }

  @include lg {
    max-width: 40rem;
    flex-direction: row;
    max-width: 100%;

    .text_box {
      margin: auto 0;
      margin-right: 1rem;
    }

    img {
      object-fit: cover;
      max-width: 30rem;
    }
  }

  @include xl {
    img {
      object-fit: cover;
      max-width: 40rem;
    }
  }

  @include xxl {
    width: 90rem;
    margin: auto;

  }

}

.expImg {
  width: 60px;
  transform: translateY(10px) ;
}
