@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.site_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  gap: 2rem;

  padding: 1.5rem;

  > h2 {
    color: color.$purple-400;
  }
}
