@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2rem;
  background-color: rgba(color.$purple-900, 0.3);

  > a > img {
    width: 3rem;
  }

  > h1 {
    color: color.$purple-50;
    font-size: 1.5rem;
  }

  @include sm {
    position: relative;

    > a > img {
      width: 3rem;
      display: block;
    }
  }
}

.header_nav {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  a {
    color: color.$purple-50;
  }

  > li {
    color: color.$purple-50;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: color.$purple-400;
    }

    &::after {
      content: " ";
      display: block;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      border-bottom: 2px solid color.$purple-400;

      transform: scaleX(0);
    }

    &:hover::after {
      color: color.$purple-400;
      transform: scaleX(0.6);
    }
  }

  @include sm {
    display: flex;
  }
}
