@use "../../styles/colors" as color;
@use "../../index.scss" as font;
@use "../../styles/breakpoints" as *;

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2rem;
  background-color: color.$purple-900;

  > a {
    color: color.$purple-200;
    font-size: 1.5rem;
    font-family: font.$bungee;
  }

  @include sm {
    position: relative;

    > a > img {
      width: 3rem;
      display: block;
    }
  }
}

.nav_items {
  display: flex;
  gap: 2rem;

  > nav {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-family: font.$opensans;

    @include sm {
      display: flex;
    }

    > a {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      color: color.$purple-50;
      transition: all 300ms ease-in-out;

      &:hovr {
        color: color.$purple-300;
      }
    }
  }
}
