@use "../../styles/colors" as *;
@use "../../index.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  font-family: $opensans;

  label {
    color: $purple-300;
    font-size: 1rem;
    font-weight: 600;
  }

  textarea {
    min-height: 8rem;
    padding: 0.5rem;

    font-size: 0.875rem;
    color: $black-700;
    border: 2px solid transparent;
    border-radius: 0.25rem;

    &:focus {
      border-color: $purple-400;
    }
  }
}
