@use "../../../styles/breakpoints" as *;
@use "../../../styles/colors" as color;

.translation_button {
  width: 27px;
  height: 20px;

  border-radius: 0.1rem;
}

.ptBR {
  background-image: url('../../../../assets/images/br.svg');
  background-size: contain;
}

.enUS {
  background-image: url('../../../../assets/images/us.svg');
  background-size: contain;
}

