@use "../../../styles/breakpoints" as *;
@use "../../../styles/colors" as color;

.translation_button {
  width: 25px;
  height: 20px;
  display: none;

  border-radius: 30%;

  @include sm {
    display: block;
  }
}

.ptBR {
  background-image: url('public/assets/images/br.svg');
  background-size: contain;
}

.enUS {
  background-image: url('public/assets/images/us.svg');
  background-size: contain;
}

